:root {
	font: {
		family: "Open Sans", sans-serif, arial;
		size: 16px;
	}
	background-color: lighten($color-base, 5);
	color: $color-text;
	line-height: 1.6;

	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html, body {
	min-height: 100vh;
	@media screen and (min-width: 980px) {
		overflow: hidden;
	}
}

body {
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
}
.header {
	min-height: 70px;
	// border-bottom: 1px solid rgba(white, 0.1);
	// background-color: rgba(black, 0.1);
	padding: 0 20px;	
	align-items: center;
	justify-content: space-between;

	background-color: white;
	border-bottom: $border;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		font-size: 1.2rem;
	}

	&,
	&__title {
		display: flex;
	}

	&__title {
		display: flex;
		align-items: center;
		text-decoration: none;
		font: inherit;
		color: inherit;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 1;
			transition: none;
		}
	}
}

.logo {
	margin-right: 10px;

	img {
		max-height: 40px;
	}
}

main {
	flex-grow: 1;
	flex-shrink: 0;
	min-height: 10px;
	display: flex;
	width: 100%;

	@media screen and (min-width: 980px) {
		min-height: 50vh;
	}

	@media screen and (max-width: 979px) {
		min-height: 100vh;
	}
}

.footer {
	background-color: darken($color-base, 5);
	
	&__inner {
		// display: flex;
		// align-items: center;
		min-height: 50px;
	}
}

.flex {
	margin: 0 auto;
	background-color: darken($color-base, 1);
	width: 100%;

	box-shadow: inset 0 0 10px darken($color-base, 10);
	@media screen and (min-width: 980px) {
		display: flex;
	}

	&__item {
		flex-shink: 1;
		flex-grow: 1;
		position: relative;

		&--multimedia {
			background-color: rgba(black, 0.2);
			position: relative;
			overflow: hidden;

			@media screen and (min-width: 980px) {
				flex-basis: calc(100% / (16/9));
				padding-top: calc(100% / (16/9));
				padding: 10px;
			}

			@media screen and (max-width: 979px) and (orientation: landscape) {
				// height: 100vh;
			}

			@media screen and (max-width: 979px) and (orientation: portrait) {
				padding-top: calc(100% / (16/9));
			}
		}

		&--sidebar {
			position: relative;
			flex-basis: 33%;

			@media screen and (min-width: 980px) {
				// min-width: 400px;
			}
		}

		&__inner {
			background-color: black;

			display: flex;
			gap: 10px;

			@media screen and (min-width: 980px) {
				position: absolute;
				margin: auto;
				left: 0; right: 0;
				top: 0; bottom: 0;
			}
		}
	}
}

video {
	display: block;
	margin: 0 auto;
	position: relative;
	background-color: transparent;
	width: 100%;

	@media screen and (min-width: 980px) {
		max-height: 100%;
	}
}

canvas {
	position: relative;
	margin: auto;
	height: 100%;
	width: 100%;

	object-fit: contain;

	max-width: 100%;
	max-height: 100%;
}

.footer {
	display: flex;

	align-items: center;
	justify-content: center;

	$background: darken($color-base, 80);
	$background: desaturate($background, 60);
	background-color: $background;
	color: white;

	p {
		margin: 0;
	}
}

.lists {
	height: 100%;
	overflow: auto;
	padding: 10px;

	position: relative;
	display: grid;

	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	align-content: start;
	gap: 10px;

	@media screen and (min-width: 980px) {
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		top: 0; bottom: 0;
	}

	&__item {
		padding: 10px;
		border: 1px solid darken($color-base, 10);
		text-decoration: none;
		color: inherit;
		display: flex;
		flex-direction: column;
		align-items: center;

		background-color: rgba(white, 0.7);

		border-radius: 5px;
		color: darken($color-text, 15);
		transition: 300ms ease;

		& > * {
			pointer-events: none;
		}

		&:hover {
			color: $color-text;
			border-color: rgba($color-text, 0.3);
			background-color: rgba($color-text, 0.05);
		}

		&:active {
			color: darken($color-text, 15);
			background-color: transparent;
			transition: none;
		}

		&__graphic {
			position: relative;
			width: 100%;
			flex-shrink: 0;
			background-color: rgba($color-base, 0.3);
			padding-top: 56.25%;
			background-color: darken(white, 20);

			&__img {
				display: block;
				position: absolute;
				margin: auto;
				left: 0; right: 0;
				top: 0; bottom: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;

			}
		}

		&__content {
			display: flex;
			align-items: center;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;

			&__title {
				padding: 10px;
				text-overflow: ellipsis;
			}
		}
	}
}

.search {
	display: none;
	
	--height: 40px;
	--display: block;

	&__input {
		background-color: silver;
		display: var(--display);

		position: relative;
	}
	[type="search"],
	&__button {
		display: var(--display);
		height: var(--height);
	}
}